<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credify - Create Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Display flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div>
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="login-container">
        <form action="/create-account" method="POST">
            <div class="every-input">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="every-input">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="every-input">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="every-input">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <button type="submit">Create Account</button>
        </form>
        <!-- Navigation to login page -->
        <button onclick="window.location.href='{{ url_for('routes.login') }}'">Proceed to Login</button>
    </div>
</body>
</html>
