<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credify - Update Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <!-- Div for dynamic messages -->
        <div id="message-box"></div>

        <form action="/update-password" method="POST" onsubmit="return validateForm()">
            <div class="every-input">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="every-input">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="every-input">
                <label for="new-password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Update Password</button>
        </form>
    </div>

    <script>
        function validateForm() {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('update-password').value;
            const messageBox = document.getElementById('message-box');

            messageBox.innerHTML = '';

            // check password aganist db
        }
    </script>

</body>
</html>
